<!-- <p>student-details works!</p> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<br>
<label>Name: {{name}}</label>
<br/>
Email:<label><input type=text [(ngModel)]="email" [placeholder]="email">{{email}}</label>
<br/>
<label>Phone Number : </label><label>{{pid}}</label><br/>
<label>Father's name:</label><label [innerHtml]="Fathername"></label><br>
<label>Mother's name:</label><label [innerHtml]="Mothername"></label><br>
<input type="button" value="submit" [disabled]="flag"><br/>
<input type="button" value="cancel" [disabled]="!flag"><br/>


